.menu {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.menu__contents {
  height: 100%;
  width: 80%;
  top: 90px;
  display: flex;
  position: absolute;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  background-color: white;
  overflow: scroll;
}

.menu__logo {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  top: 0;
  left: 0;
  height: 48%;
  width: 50%;
}
.logo {
  height: 12vh;
  width: 28vw;
}

.menu__front {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  height: 48%;
  width: 50%;
}
.menuFront {
  height: 100%;
  width: 100%;
  border: 1px solid grey;
}

.menu__back {
  display: flex;
  position: absolute;
  bottom: 100px;
  height: 40%;
  width: 100%;
}
.menuBack {
  height: 100%;
  width: 100%;
  border: 1px solid grey;
}

@media screen and (max-width: 700px) {
  .logo {
    height: 80px;
    width: 160px;
  }
}

@media screen and (max-width: 500px) {
  .logo {
    height: 60px;
    width: 120px;
  }
}

@media screen and (max-width: 380px) {
  .logo {
    height: 50px;
    width: 100px;
  }
}

@media screen and (max-height: 700px) {
  .menu__contents {
    height: 120%;
  }
  .menu__logo {
    height: 40%;
  }
  .menu__front {
    height: 40%;
  }
  .menu__back {
    height: 45%;
    bottom: 100px;
  }
}
