.loading {
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: center;
}

.loading__contents {
  height: 90%;
  width: 80%;
  font-size: 30px;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
}
